<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DailySeries</display-name>
  
  <servlet>
    <servlet-name>ChargeServlet</servlet-name>
    <servlet-class>controller.ChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeServlet</servlet-name>
    <url-pattern>/ChargeServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BagServlet</servlet-name>
    <servlet-class>controller.BagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BagServlet</servlet-name>
    <url-pattern>/BagServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenudetailServlet</servlet-name>
    <servlet-class>controller.MenudetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenudetailServlet</servlet-name>
    <url-pattern>/MenudetailServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>controller.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/JoinServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>controller.MaininServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MypageServlet</servlet-name>
    <servlet-class>controller.MypageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageServlet</servlet-name>
    <url-pattern>/MypageServleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>controller.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServleto</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>controller.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>controller.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet0</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>